.vscode
venv

__pycache__/
*.py[cod]
*$py.class

portfolio.csv
statusinvest-busca-avancada.csv
transacoes.csv
brfundamentus/examples/radar_parameters.json
brfundamentus/examples/picking_parameters.json